.start {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    position: relative;
    height: 100%;
    overflow: hidden;
}

.info {
    position: absolute;
    width: 100%;
    top: 0;
    animation: info 3s;
}

.info__header {
    font-size: 50px;
    font-weight: bold;
    padding: 25px;
}

.info__author {
    font-size: 25px;
}

.options {
    padding: 25px;
    /* height: 40%; */
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: options 3s;
}

.options__right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.start-btn button{
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(136, 136, 136);
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.452);
    transition: all 0.5s;
    font-weight: bold;
}

.start-btn button:hover {
    background-color: rgb(235, 235, 235);
}

.name-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tile {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 30px;
    padding: 0;
    margin-right: 5px;
    position: relative;
}

.tile > .switch {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
    color: transparent;
    background-color: rgb(173, 173, 173);
    font-weight: bold;
    transition: box-shadow 0.25s;
    cursor: pointer;
    line-height: 35px;
}

.tile:hover > .switch {
    width: 105%;
    height: 105%;
    font-size: 25px;
    color: black;
    box-shadow: inset 5px 5px 5px rgba(109, 109, 109, 0.466), inset -5px -5px 5px rgba(109, 109, 109, 0.466);
}

.tile:hover > .switch::before{
    content: "^";
    position: absolute;
    top: 50%;
    transform: translate(50%, -60%);
    right: 50%;
    color: black;
    font-size: 17.5px;
    width: 100%;
    height: 100%;
    font-weight: bolder;
}

.tile:hover > .switch::after{
    font-weight: bolder;
    font-size: 17.5px;
    content: "^";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -40%) rotate(180deg);
    right: 50%;
    color: black;
}

/* .tile > .switch-left {
    transform: translate(50%, -50%) rotate(180deg);
} */

.name-input input{
    width: 100%;
    font-size: 1.25em;
    padding: 5px;
    box-sizing: border-box;
}

.options__left {
    font-size: 1.5em;
}

.radios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mode__option {
    padding: 5px;
    cursor: pointer;
}

.radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.radio__box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(136, 136, 136);
    margin-right: 10px;
}

.radio-on .radio__box{
    position: relative;
}

.radio-on .radio__box::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: rgb(60, 236, 60);
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%)
}

.mode-instruction {
    font-weight: bold;
    margin-bottom: 5px;
}


@keyframes info {
    from {
        top: 50%;
        transform: translateY(-50%);
    }
    60% {
        top: 50%;
        transform: translateY(-50%);
    }
    to{
        top: 0;
        transform: translateY(0)
    }
}

@keyframes options {
    from {
        bottom: 0;
        transform: translateY(100%);
    }
    60% {
        bottom: 0;
        transform: translateY(100%);
    }
    to{
        bottom: 0;
        transform: translateY(0)
    }
}

@media (max-width: 4800px){
    .options__left > div {
        text-align: left;
        font-size: 25px;
    }
}

